In [1]:
import pandas as pd

In [2]:
s = pd.Series([91,51,57,89,78,72])

In [3]:
print(s)

0    91
1    51
2    57
3    89
4    78
5    72
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
s2 = pd.Series([71,83,67,91,57], index=["Aman", "Siddharth", "Raman", "Abhishek", "Kittu"])

In [6]:
s2

Aman         71
Siddharth    83
Raman        67
Abhishek     91
Kittu        57
dtype: int64

# DataFrame - 2D Labeled Table

In [3]:
data = {
    "name": ["Sid", "Aman", "Ram"],
    "age": [22, 23, 21],
    "city": ["Delhi", "Mumbai", "Agra"]
}

df = pd.DataFrame(data)
print(df)

   name  age    city
0   Sid   22   Delhi
1  Aman   23  Mumbai
2   Ram   21    Agra

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
df.columns

Index(['name', 'age', 'city'], dtype='object')